/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #fdfdfc;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  background-color: #cc6e4c;
  color: white;
  padding: 1em 0;
  text-align: center;
}

h1 {
  margin: 0;
}

main {
  padding: 2em;
  text-align: center;
  flex-grow: 1; /* Mengisi ruang di antara header dan footer */
}

.button-container {
  margin-top: 2em;
}

.button-container a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #cc6e4c;
  padding: 0.5em 1.5em;
  margin: 0.5em;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button-container a:hover {
  background-color: #b85c3c;
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #edb859;
  font-size: 0.9em;
  color: #fdfdfc;
}
